
.container {
    overflow: auto;
  }
  .row1 {
    background: black;
    color: white;
    height: 88px;
  }
  header {
    width: 800px;
    background: gray;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .basic {
    width: 220px;
    /* float: left; */
    margin-top: 10px;
  }
  .basic h1 {
    padding: 0;
    margin: 0;
  }
  .basic p {
    padding: 0;
    margin: 0;
  }
  nav {
    /* float: right; */
    margin-top: 13px;
    background: black;
  }
  nav ul li {
    /* display: inline; */
    margin-right: 40px;
    font-size: 20px;
  }
  .row1 nav ul{
    display: flex;
    list-style-type: none;
  }
  .row2 {
    margin-top: 20px;
    margin: auto;
    width: 800px;
  }
  .row2 img {
    margin-top: 30px;
  }
  
  .row3 {
    width: 800px;
    margin: auto;
    overflow: auto;
    display: flex;
  }
  .childs {
    width: 185px;
    /* float: left; */
    margin-right: 15px;
  }
  .childs figure {
    margin-left: 0;
  }
  .childs figure img {
    width: 28px;
    height: 28px;
    float: left;
    border: 1px solid;
    padding: 2px;
  }
  span {
    font-size: 15px;
    margin-left: 14px;
  }
  .childs figcaption p {
    font-size: 13px;
  }
  .childsPara a {
    color: orange;
    text-decoration: none;
  }
  .childs4 {
    width: 185px;
    /* float: right; */
  }
  .childs4 figure img {
    width: 28px;
    height: 28px;
    float: left;
    border: 1px solid;
    padding: 2px;
  }
  span {
    font-size: 15px;
    margin-left: 14px;
  }
  .childs4 figcaption p {
    font-size: 13px;
  }
  .childsPara {
    float: right;
  }
  .childsPara a {
    color: orange;
    text-decoration: none;
  }
  .row4 {
    width: 900px;
    margin: auto;
    /* overflow: auto; */
    border-bottom: 1px solid;
    color: gray;
    display: flex;
}
.row4 img {
  width: 227px;
  height: 141px;
}
.parent1 {
  width: 290px;
  height: 180px;
  /* float: left; */
}
.parent1 {
  width: 290px;
  height: 180px;
  /* float: left; */
}
.parent {
  width: 290px;
  height: 180px;
  /* float: right; */
}
p.parent2 {
  float: right;
}
.row5{
  width:900px;
  margin: auto;
  overflow: auto;
  margin-top: 20px;
}
.row5 article{
  width: 580px;
  float: left;
}
.child1{
  overflow:auto ;
  display: flex;
}
.child1img{
  width: 170px;
  /* float: left; */
}
.child1img img{
  width: 170px;
  height: 150px;
  border: 1px solid;
  padding: 3px;
}
.child1cap{
  width: 390px;
  /* float: right; */
  margin-left: 34px;
}
.child1cap p{
  font-size: 15px;
}
p#child1para{
  float: right;
}
#child1para a{
  color: orange;
  text-decoration: none;
  font-size: 13px;
}
.child2 {
  display: flex
;
}
a{
  float: right;
  color: orange;
  font-size: 13px;
  text-decoration: none;
}
aside{
  width: 198px;
  /* float: right; */
  display: flex;
}
aside ul{
list-style: none;
padding: 0;
line-height: 32px;
}
aside ul li{
  border-bottom: 1px solid lightgray;
  font-size: 15px;
  color: gray;
}
.row6 {
  background: black;
  color: white;
}
footer {
  width: 800px;
  margin: auto;
  overflow: auto;
  display: flex;
  justify-content: space-around;
}
p#footerPara1 {
  /* float: left; */
  font-size: 13px;
}
p#footerPara2 {
  /* float: right; */
  font-size: 13px;
}
article p {
  font-size: 13px;
}
  
