* {
    margin: 2px;
  }
  body {
    font-size: 25px;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .flex-header {
    background-color: blue;
    padding: 3rem;
    padding-bottom: 3rem;
  }
  .flexMain {
    display: flex;
    flex: 1;
  }
  .flex-nav {
    background-color: green;
    padding-top: 3rem;
    flex: 1 1 5rem;
  }
  .flex-article {
    background-color: purple;
    padding-top: 3rem;
    flex: 1 1 5rem;
  }
  .flex-aside {
    background-color: brown;
    padding-top: 3rem;
    flex: 1 1 5rem;
  }
  
  .flex-footer {
    background-color: red;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  