.row1 {
    background: black;
    color: #989898;
    overflow: auto;
  }
  .container{
    background: beige;
  }
  header {
    width: 850px;
    margin: auto;
    overflow: auto;
    display: flex;
  }
    .AJIO {
      width: 300px;
      /* float: left; */
      margin: 20px 20px 20px 0;
    }
    .AJIO h2 {
      margin: 0;
    }
    .AJIO p {
      margin: 0;
    }
    header nav {
      width: 450px;
      float: right;
      margin: 20px 0 20px 20px;
    }
    nav ul li {
      display: inline;
      margin-right: 15px;
    }
    .row2 {
      width: 850px;
      margin: auto;
      margin-top: 15px;
    }
    .row2 img {
      width: 850px;
      height: 300px;
    }
    .row3 {
      width: 850px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      background: lightblue;
  }
    .Ajio {
      width: 250px;
      /* float: left; */
    }
    figure img {
      width: 240px;
      padding-left: 0;
    }
    
    figure {
      margin: 0;
    }
    figcaption {
      margin-top: 15px;
      color: #989898;
      font-weight: 200;
  }
  figcaption i {
    font-weight: bold;
    font-size: 17px;
  }
    figcaption p {
      font-size: 14px;
      margin: 15px 25px 5px 0px;
      line-height: 1.5;
      color: #989898;
  }
    a {
      /* float: right; */
      font-size: 12px;
  }
  .row4 {
    width: 850px;
    overflow: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  article {
      width: 420px;
      /* float: left; */
      font-size: 14px;
  }
  aside {
      width: 420px;
      /* float: right; */
  }
  aside img {
      width: 340px;
      border: 1px solid;
      padding: 4px;
      height: 255px;
      margin: 32px 0px 30px 0px;
  }
  article p {
      font-size: 14px;
      line-height: 1.5;
      color: #989898;
  }
  article h3 {
      font-size: 30px;
      font-style: italic;
      color: #989898;
  }
  .parentsection {
      background: #333333;
      color: white;
  }
  .sub.section {
    width: 850px;
    margin: auto;
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
  }
  section {
      width: 190px;
      /* float: left; */
      margin: 20px 11px 20px;
  }
  section i {
      font-size: 13px;
      font-weight: bold;
  }
  section ul {
      list-style-type: none;
      padding: 0px 50px 0px 0px;
  }
  section ul li {
      font-size: 13px;
      line-height: 2;
      border-bottom: 1px solid #555555;
  }
  a {
      color: orange;
      text-decoration-line: none;
      outline: none;
  }
  .row5-footer {
    overflow: auto;
    background: #232323;
    color: #989898;
    display: flex;
    justify-content: space-evenly;
  }
  .child1 {
      /* float: left; */
      /* padding-left: 200px; */
      font-size: small;
  }
  .child2 {
      /* float: right; */
      /* padding-right: 225px; */
  }
  .child1 h4 {
      font-weight: lighter;
      font-size: 14px;
  }
  .child2 p {
      font-weight: lighter;
      font-size: 14px;
  }
   