
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    overflow: auto;
}
.header{
    width: 800px;
    display: flex;
    margin: auto;
    background-color: black;
    color: white;
    justify-content: space-between;
}
.nav{
   margin-top: 13px; 
   background: black;
   color: white;
}
nav ul {
display: flex;
list-style-type: none;
}
nav ul li{
    font-size: 20px;
    margin-right: 40px;
}
.row1{
    background: black;
    height: 20vh;
    width: 100%;
}
.row2{
    width: 100%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid;
    background-color: rgb(131, 23, 93);
}
.box{
    background: rgb(18, 159, 195);
    width: 20%;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px red;
    text-align: center;
    padding: 20px 0px;
}
.box img{
    width: 100px;
    height: 100px;
}
.box h3{
    padding: 10px 0;
}
.box p{
    font-size: 12px;
    padding: 10px;
}
.box button{
    background: blue;
    padding: 10px 20px;
    border: none;
    color: white;
    margin: 10px 0px;
}
.box:hover{
    background: blue;
}
.row3{
    width:100% ;
    background: #5610d6;
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
  }
  
  article {
    flex: 3;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  article:hover{
    background-color: #9b175d;
  }
  
  aside {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  aside:hover{
    background-color: #9b175d;
  }
  .main {
    display: flex
;
    justify-content: space-around;
    background: aqua;
}
.row4{
    width: 100%;
    height: 192px;
    background: aqua;
}
 .row5{
    width: 100%;
    overflow: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: chartreuse;
  }
  .article1 {
      width: 420px;
      /* float: left; */
      font-size: 14px;
  }
  .aside1 {
      width: 420px;
      /* float: right; */
  }
  .aside1 img {
      width: 340px;
      border: 1px solid;
      padding: 4px;
      height: 255px;
      margin: 32px 0px 30px 0px;
  }
  .article1 p {
      font-size: 14px;
      line-height: 1.5;
      color: #989898;
  }
  .article1 h3 {
      font-size: 30px;
      font-style: italic;
      color: #989898;
  }
  .parentsection1 {
      background: #333333;
      color: white;
  }
  .sub.section1 {
    width: 850px;
    margin: auto;
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
  }
  .section1 {
      width: 190px;
      /* float: left; */
      margin: 20px 11px 20px;
  }
  .section1 i {
      font-size: 13px;
      font-weight: bold;
  }
  .section1 ul {
      list-style-type: none;
      padding: 0px 50px 0px 0px;
  }
  .section1 ul li {
      font-size: 13px;
      line-height: 2;
      border-bottom: 1px solid #555555;
  }
  a {
      color: orange;
      text-decoration-line: none;
      outline: none;
  }
  .article1 {
    width: 918px;
}
.aside1 {
    width: 550px;
}
.row5 img {
    width: 300px;
}
.row6 {
    background: rgb(198, 23, 113);
  color: white;
}
footer {
  width: 100%;
  margin: auto;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
p#footerPara1 {
  font-size: 13px;
}
p#footerPara2 {
  
  font-size: 13px;
}
@media (max-width: 800px) {
    .row1 nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  
  
    footer {
      font-size: 0.9rem;
    }
  
  }
  
  @media (max-width:500px){
    .container{
        width: 498px;
        background: aqua;
    }
  }