/* Common styles for body and containers */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: auto;
    max-width: 80%;
    width: 100%;
  }
  
  /* Styles for form and table columns */
  .column {
    width: 50%;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  /* Styles for the form */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 5px;
  }
  
  input:focus,
  select:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Styles for the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #007BFF;
    color: white;
  }
  
  .edit-btn,
  .delete-btn {
    padding: 5px 10px;
    margin: 0 2px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
  }
  
  .edit-btn {
    background-color: #28a745;
  }
  
  .delete-btn {
    background-color: #dc3545;
  }
  
  .edit-btn:hover {
    background-color: #218838;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }

  #updateBtn{
    display: none;
  }
  