<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./templates3.css">
</head>
<body>
  <div class="container">
    <div class="row1">
      <nav>
        <ul>
          <li><a href="#">Logo</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">
            <select name="" id="">
            <option value=""><a href="#">Service</a></option>
            <option value=""><a href="#">Engage</a></option>
            <option value=""><a href="#">Pontificate</a></option>
            <option value=""><a href="#">Synergize</a></option>
          </select>
          </a></li>
        
        </ul>
      </nav>
    <div>
    <form>
      <input type="text">
      <button>search</button>
    </form>
  </div>
  </div>
  <div class="row2">
    <div>
      <h1>Dramatically Engage</h1>
      <p>Objectively innovate empowered manutactured products whereas parallel platform</p>
    </div>
    <button>Engage Now</button>
  </div>
  <div class="row3">
    <h2>Superior Collaboration</h2>
    <p>proactivelly envisioned multi media based expertise and cross- media
      growth visulaised quantity. without superior collebration.
      installed ponificate insatled based after maintained products

    </p>
  </div>
    <div class="child1">
      <img src="../th (1).jpeg" alt="">
      <h2>Efficiantly unlish</h2>
      <p>colleborately administate employed markets via pug-and networks 
        dynamicallyprocrastinate users ofter instaled base benifits 
        portals after maintable ROI.
      </p>
    </div>
    <div class="child1">
      <img src="../th (1).jpeg" alt="">
      <h2>Efficiantly unlish</h2>
      <p>colleborately administate employed markets via pug-and networks 
        dynamicallyprocrastinate users ofter instaled base benifits 
        portals after maintable ROI.
      </p>
    </div><div class="child2">
      <img src="../th (1).jpeg" alt="">
      <h2>Efficiantly unlish</h2>
      <p>colleborately administate employed markets via pug-and networks 
        dynamicallyprocrastinate users ofter instaled base benifits 
        portals after maintable ROI.
      </p>
    </div>
<div class="row4">
  <div class="rose">
    <img src="../th (2).jpeg" alt="">
    <h2>Dynamically Procrastinate</h2>
    <p>collebrately administrate empowered markets via-
      and-play networks.Ddianomically practicate b2c
      users after intracted base benifits dra matically
      visulasied customer directed convergence revolutionally
      ROI</p>
      <button>Procrastinate</button>
  </div>
  <div class="rose">
    <img src="../th (2).jpeg" alt="">
    <h2>Dynamically Procrastinate</h2>
    <p>collebrately administrate empowered markets via-
      and-play networks.Ddianomically practicate b2c
      users after intracted base benifits dra matically
      visulasied customer directed convergence revolutionally
      ROI</p>
      <button>Unlease</button>
  </div><div class="rose">
    <img src="../th (2).jpeg" alt="">
    <h2>Dynamically Procrastinate</h2>
    <p>collebrately administrate empowered markets via-
      and-play networks.Ddianomically practicate b2c
      users after intracted base benifits dra matically
      visulasied customer directed convergence revolutionally
      ROI</p>
      <button>synergize</button>
  </div>
</div>
<div class="row5">
  <footer>
    <p>Terms&conditions privacy contact</p>
    <p>copy right&example.com 2015</p>
  </footer>
</div>
      </div>

</body>
</html>